body {
    background-color: rgb(145, 224, 163);
}
table,tr,td{
    border: 2px solid rgb(11, 11, 11);
}
#bike {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 3%;
    background-color: #fff;
}

#car {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 3%;
    background-color: #fff;
}

#phone {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 3%;
    background-color: #fff;
}
